@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Germania+One&display=swap");

body {
  margin: 0;
  padding: 0;
  background-image: url(./assets/d9ce03995fb1c446-the-gallery-for-animated-smoke-effect.gif);
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  font-family: "Nunito Sans", sans-serif;
}

.heading1 {
  color: rgb(219, 198, 219);
  text-align: center;
  font-size: 50px;
}


.lvl ul {

  display: flex;
  color: rgb(132, 255, 255);
  font-weight: 600;
}
.lvl{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.outerb{
  display:flex;
  justify-content: center;
}
.lvl ul li {
  padding: 10px;
  list-style: none;
  
}

.lvl ul:first-child {
  padding-left: 10px;
}

.borderbox {
padding-left: 20px;
  padding: 15px;
  background-color: rgb(139, 54, 68);
}

button {
  background-color: silver;
}

button:hover {
  background-color: skyblue;
  cursor: pointer;
}

.maincontent {
  display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px;
  grid-template-rows: 60px 60px 60px 60px 60px 60px;
  background-color: royalblue;
}

.maincontent button {
  font-weight: 800;
  color: black;
}

.consoles {
  box-shadow: 1px 1px 1px black;
  display: grid;
  grid-template-columns: 120px;
}

#kill {
  background-color: rgb(67, 67, 168);
  padding: 20px;
  color: cornsilk;
  font-weight: 600;
  border-radius: 1em;
  font-size: 30px;
}

#failed {
  color: black;
  font-size: 50px;
}

#kill:hover {
  background-color: khaki;
}

.consoles {
  border-radius: 1em;
  font-size: 30px;
  color: white;
  background-color: rgb(180, 29, 3);
  border-top: 1em;
}

.consoles:hover {
  color: black;
  background-color: rgb(180, 29, 3);
}
.start{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.blearn{
  text-decoration: none;

}
.blearn p{

  cursor: pointer;
  font-size: 30px;
  font-weight: 800;
  color: black;
  background-color: rgb(201, 64, 0);
  border-radius: 1em;
  padding: 15px;
}

.blearn:hover {
  color: whitesmoke;
}

h2 {
  font-size: 40px;
  color: rgb(138, 58, 13);
  border-radius: 10px;
  padding: 4px;
}

h4 {
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 50px;
  color: whitesmoke;
}

footer {
  position: absolute;
  color: white;
  padding-left: 1000px;
  font-family: sans-serif;
  top: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.pop {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
}

.pop h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.pop .close {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.pop .close:hover {
  color: #06d8d8;
}

.pop .content {
  max-height: 30%;
  overflow: auto;
}

.hello {
  position: inherit;
  padding: 0;
  margin: 0;
  font-size: 30px;
}

.luck {
  font-size: 30px;
  text-align: center;
}

.tryto {
  text-align: center;
  font-size: 25px;
}

.time {
  color: lavenderblush;

}
